<div id='title'>
Quick links
</div>

<a href="<%= newsletter_mailchimp_new_product_path %>"
   class="btn btn-default btn-lg btn-block quick-link">
Generate <b>mailchimp</b> new product newsletter
</a>

<a href="<%= newsletter_volusion_new_product_path %>"
   class="btn btn-default btn-lg btn-block quick-link">
Generate <b>volusion</b> new product newsletter
</a>
