<div id='result-title'>
  Please follow the following steps to use generated newsletter.
</div>
<div class='instruction'>
  <div class='instruction-text'>
    Select <b>Regular campaign</b> for campaign type.
  </div>
  <%= image_tag("mc_inst1.png") %>
</div>
<div class='instruction'>
  <div class='instruction-text'>
    Select <b>Code Your Own</b> and <b>Paste in code</b> for template.
  </div>
  <%= image_tag("mc_inst2.png") %>
</div>
<div class='instruction'>
  <div class='instruction-text'>
    Paste the following code to the text area.
  </div>
  <%= image_tag("mc_inst3.png") %>
</div>

<button type="button"
        id="result-copy-btn"
        class="btn btn-success btn-lg btn-block"
        data-clipboard-target="#result-body">
  Click here to copy generated code
</button>

<div id='result-body'>
  <%= @newsletter %>
</div>
