<div id='result-title'>
  Copy paste the following code to newsletter body field.
  <br>
  Please choose code mode by clicking <b><\></b> while entering email body.
</div>
<div id='result-body'>
  <%= @newsletter %>
</div>
