// Boostrap.
@import "bootstrap-sprockets";
@import "bootstrap";

// Fonts.
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic,600,600italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
$primary-font: 'Open Sans', sans-serif;
$code-font: 'Inconsolata', ;

// Colors.
$theme-color: #D94545;

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #eee;
  margin: 0px;

  font-family: $primary-font;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 14px;
}

header {
  width: 60%;
  margin: 10px auto;
  min-width: 700px;
}

.code-snippet {
  font-family: $code-font;
  font-size: 16px;
}

#menu, #content-area {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}

#content-area {
  width: 60%;
  height: auto;
  min-width: 700px;
  min-height: 100%;
  background-color: #fff;
  margin: 0px auto;
  border-top: 2px solid $theme-color;
  padding: 20px;
}

@media (min-width: 768px) {
  #menu, #content-area {
    border-radius: 5px;
  }
}
